.cabeçalho{
    background-color: #a52a2a;
    color:rgb(255, 157, 127);
    display:flex;
    padding: 24px;
    font-size: 20px;
    justify-content: space-around;
}

.cabeçalholista{
    justify-content: center;
}

.ingredientes{
    color: black;
    font-size: 20px;
    padding: 0px, 250px;
}